/* .jarallax {
    position: fixed;

} */

body {
    background-color:black;
}
.text-slides {
    font-family: europa, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100%;
    margin-top: 25%;
}

.question {
    font-family: europa, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.categories {
    font-family: europa, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    height: 100%;
    margin-top: 10%;
}