

body {
    background-color:black;
}

#untrnd-gif {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20%;
}


.text-slides {
    font-family: europa, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100%;
    margin-top: 25%;
}

.question {
    font-family: europa, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.categories {
    font-family: europa, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    height: 100%;
   margin-top: 25px;
}

.hello {
    margin-top: 25px;
}

.welcome {
    margin-top: 25px;   
}

form {
    font-family: europa, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    height: 100%;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#categories-submit {
    margin-top: 25px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-bottom: 50px;

}

#categories-submit:hover {
    font-family: europa, sans-serif;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.509);
    color: white;
    border: 1px solid white;
}